<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speech Recognition in Python</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-sm">
     <h1>Speech Disorder(dysarthria) Classification</h1>
      <form action = "http://localhost:5003/classification/brain/result" method = "POST" 
         enctype = "multipart/form-data">
         <br>
         <input type = "file" name = "file" accept="audio/wav,.wav"/>
         <button type="submit", value="Button"> 테스트 데이터 업로드 </button>
      </form>
    </div>
    <br>
    <br>
        <div id="speechTranscriptContainer">
            <h1>분류 결과</h1>
            <p id="speechText"> {{ filename }} <br>{{ transcript }} </p>
        </div>
</div>
</body>
</html>